form {
  display: flex;
  padding: 10px;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  margin-right: 10px;
}
.frame {
  width: 40vw;
  max-width: 400px;
  padding:  5px 10px;
}
.header {
  display: inline;
  text-align: center;
}
.list-wrapper {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px 0;
}

.dark{
  background-image: linear-gradient(
          to right bottom,
          rgba(139, 204, 207, 0.2),
          rgba(40, 168, 180, 0.5)),
  url(./img/nat-7.jpg);

  background-size: cover;
  background-position: center;
}

.white{
  background-image: linear-gradient(
          to right bottom,
          rgba(139, 204, 207, 0.2),
          rgba(40, 168, 180, 0.5)),
  url(./img/nat-6.jpg);
  background-size: cover;
  background-position: center;
}

.list-item {
  padding: 5px 2px;
  cursor: pointer;
}

.list-item:hover {
  background-color: bisque;
}

button.delete {
  background-color: red;
}

.settings-component{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
  border: 1px solid #dbdbdb;
  padding: 10px;
  text-align: right;
  margin-bottom: 5px;
  background-color: #FFFFFF;
}

.settings-component span {
  margin-right: 10px;
}
.change_button {
  padding: 15px;
  background-color: #809fff;
  cursor: pointer;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 6px;
}

.change_button:hover {
  background-color: #4d79ff;
}

.submit_button {
  padding: 5px 25px;
  border: none;
  cursor: pointer;
  background-color: forestgreen;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}
.submit_button:hover {
  background-color: #2F4F4F;
}
