form {
  display: flex;
  padding: 10px;
}
.wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  margin-right: 10px;
}
.frame {
  width: 40vw;
  max-width: 400px;
  padding:  5px 10px;
}
.header {
  display: inline;
  text-align: center;
}
.list-wrapper {
  max-height: 200px;
  overflow-y: auto;
  padding: 10px 0;
}

.dark{
  background: #909090;
}

.white{
  background: #FFFFFF;
}

.list-item {
  padding: 2px;
  cursor: pointer;
}

.list-item:hover {
  background-color: bisque;
}

button.delete {
  background-color: red;
}

.settings-component{
  display: flex;
  align-items: center;
  width: 40vw;
  border: 1px solid #dbdbdb;
  padding: 10px;
  text-align: right;
  margin-bottom: 5px;
}

.settings-component span {
  margin-right: 10px;
}
